In [1]:
import pandas as pd
import numpy as np

In [2]:
# to read the data in the csv file
data = pd.read_csv("s-algorithm.csv")
print(data,"n")

      Time Weather Temperature Company Humidity    Wind Goes
0  Morning   Sunny        Warm     Yes     Mild  Strong  Yes
1  Evening   Rainy        Cold      No     Mild  Normal   No
2  Morning   Sunny    Moderate     Yes   Normal  Normal  Yes
3  Evening   Sunny        Cold     Yes     High  Strong  Yes n

In [4]:
# making an array of all the attributes
d = np.array(data)[:,:-1]
print("n The attributes are: ",d)

n The attributes are:  [['Morning' 'Sunny' 'Warm' 'Yes' 'Mild' 'Strong']
 ['Evening' 'Rainy' 'Cold' 'No' 'Mild' 'Normal']
 ['Morning' 'Sunny' 'Moderate' 'Yes' 'Normal' 'Normal']
 ['Evening' 'Sunny' 'Cold' 'Yes' 'High' 'Strong']]

In [6]:
# swgragating the target that has positive and negative examples
target = np.array(data)[:,-1]
print("n The target is: ",target)

n The target is:  ['Yes' 'No' 'Yes' 'Yes']

In [10]:
# training functtion to implement find-s algorithm
def train(c,t):
    for i, val in enumerate(t):
        if val == "Yes":
            specific_hypothesis = c[i].copy()
            break
    for i, val in enumerate(c):
        if t[i] == "Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
    return specific_hypothesis

In [11]:
# obtaining the final hypothesis
print("n The final hypothesis is: ",train(d,target))

n The final hypothesis is:  ['?' 'Sunny' '?' 'Yes' '?' '?']

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("s-algorithm.csv")
print(data,"n")
d = np.array(data)[:,:-1]
print("n The attributes are: ",d)
target = np.array(data)[:,-1]
print("n The target is: ",target)
def train(c,t):
    for i, val in enumerate(t):
        if val == "Yes":
            specific_hypothesis = c[i].copy()
            break
    for i, val in enumerate(c):
        if t[i] == "Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
    return specific_hypothesis

      Time Weather Temperature Company Humidity    Wind Goes
0  Morning   Sunny        Warm     Yes     Mild  Strong  Yes
1  Evening   Rainy        Cold      No     Mild  Normal   No
2  Morning   Sunny    Moderate     Yes   Normal  Normal  Yes
3  Evening   Sunny        Cold     Yes     High  Strong  Yes n
n The attributes are:  [['Morning' 'Sunny' 'Warm' 'Yes' 'Mild' 'Strong']
 ['Evening' 'Rainy' 'Cold' 'No' 'Mild' 'Normal']
 ['Morning' 'Sunny' 'Moderate' 'Yes' 'Normal' 'Normal']
 ['Evening' 'Sunny' 'Cold' 'Yes' 'High' 'Strong']]
n The target is:  ['Yes' 'No' 'Yes' 'Yes']

In [2]:
# vession space
# specific -> general (positive)
# general -> specific (negative)
# candidate elimination algorithm

In [29]:
import pandas as pd
import numpy as np
data = pd.read_csv("candidate.csv")
print("Dataset:\n", data, "\n")
attributes = np.array(data)[:, :-1]  
target = np.array(data)[:, -1] 
print("\nThe attributes are:\n", attributes)
print("\nThe target is:\n", target)

def candidate(attributes, target):
    num_attributes = attributes.shape[1]
    S = ["âˆ…"] * num_attributes
    for i in range(len(training_data)):
        if training_data[i][-1] == "Yes":
            S = training_data[i][:-1]
            break
    G = [["?"] * num_attributes]

Dataset:
      Sky Temperature   Humid    Wind Water  Forest Output
0  sunny        warm  normal  strong  warm    same    yes
1  sunny        warm    high  strong  warm    same    yes
2  rainy        cold    high  strong  warm  change     no
3  sunny        warm    high  strong  cool  change    yes


The attributes are:
 [['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
 ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
 ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
 ['sunny' 'warm' 'high' 'strong' 'cool' 'change']]

The target is:
 ['yes' 'yes' 'no' 'yes']

In [18]:
import copy, pandas as pd

def const(h, e): return all(x=='?' or x==y for x,y in zip(h,e))
def update_pos(G, S, e):
    for j in range(len(S)):
        S[j] = '?' if S[j]!='Null' and S[j]!=e[j] else e[j]
def update_neg(G, S, e):
    new_G = []
    for g in G:
        if const(g,e):
            for i in range(len(e)):
                if S[i]!='?' and S[i]!='Null' and e[i]!=S[i]:
                    h = g.copy()
                    h[i] = S[i]
                    if h not in new_G: new_G.append(h)
        else: new_G.append(g)
    return new_G
def sync(G, S): return [g for g in G if all(g[i]=='?' or g[i]==S[i] for i in range(len(S)))]
data = pd.read_csv('cealgo.csv')
instances = data.values.tolist()
G = [['?']*len(instances[0][:-1]) for _ in range(len(instances[0][:-1]))]
S = ['Null']*len(instances[0][:-1])
for instance in instances:
    e, l = instance[:-1], instance[-1]
    print("Processing instance:", e, "Label:", l)
    if l=='Yes': update_pos(G,S,e)
    else: G = update_neg(G,S,e)
    print(" (S):", S)
    print(" (G):", G)
G = sync(G,S)
print("Final  (S):", S)
print("Final  (G):", G)

Processing instance: [1, 'Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'] Label: Yes
 (S): [1, 'Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']
 (G): [['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?']]
Processing instance: [2, 'Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'] Label: Yes
 (S): ['?', 'Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
 (G): [['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', '?']]
Processing instance: [3, 'Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'] Label: No
 (S): ['?', 'Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
 (G): [['?', 'Sunny', '?', '?', '?', '?', '?'], ['?', '?', 'Warm', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', 'Same']]
Processing instance: [4, 'Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change'] Label: Yes
 (S): ['?', 'Sunny', 'Warm', '?', 'Strong', '?', '?']
 (G): [['?', 'Sunny', '?', '?', '?', '?', '?'], ['?', '?', 'Warm', '?', '?', '?', '?'], ['?', '?', '?', '?', '?', '?', 'Same']]
Final  (S): ['?', 'Sunny', 'Warm', '?', 'Strong', '?', '?']
Final  (G): [['?', 'Sunny', '?', '?', '?', '?', '?'], ['?', '?', 'Warm', '?', '?', '?', '?']]

In [ ]:
# Data wrangling
# Finding Missing values
# Creating dataframes
# Replacing data
# Merging column

In [12]:
import numpy as np
import pandas as pd
data = pd.read_csv('cealgo.csv')
concepts = np.array(data.iloc[:,0:-1])
target = np.array(data.iloc[:,-1])
def learn(concepts, target):
    specific_h = concepts[0].copy()
    print("initialization of specific_h \n",specific_h)
    general_h = [["?" for i in range(len(specific_h))] for i in range(len(specific_h))]
    print("initialization of general_h \n".general_h)
    for i,h in enumerate(concepts):
        if target[i] == "yes":
            print(" if instance is positive")
            for x in range(len(specific_h)):
                if h[x] != specific_h[x]:
                    
                    specific_h[x] = '?'
                    general_h[x][x] = '?'
        if target[i] == "no":
            print("if instance is negative")
            for x in range(len(specific_h)):
                if h[x] != specific_h:
                    general_h[x][x] = specific_h[x]
                else:
                    general_h[x][x] = '?'
    print("step {}".format(i+1))
    print(specific_h)
    print(general_h)
    print("\n")
    print("\n")
    indices = [i for i, val in enumerate(general_h) if val == ['?','?','?','?','?','?']]
    for i in indices:
        general_h.remove(['?','?','?','?','?','?'])
        return specific_h, general_h
        s_final, g_final = learn(concepts, target)
        print("final specific_h:", s_final, sep="\n")
        print("final general_h:", g_final,sep="\n")

In [20]:
import pandas as pd
data = {'Name': ['Jai', 'Princi', 'Gaurav',
                 'Anuj', 'Ravi', 'Natasha', 'Riya'],
        'Age': [17, 17, 18, 17, 18, 17, 17],
        'Gender': ['M','F','M','M','M','F','F'],
        'Marks': [90,76,'Nan', 74,65,'Nan',71]}
df = pd.DataFrame(data)

In [21]:
df

      Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   Nan
3     Anuj   17      M    74
4     Ravi   18      M    65
5  Natasha   17      F   Nan
6     Riya   17      F    71

In [34]:
c= avg =0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c
df = df.replace(to_replace="Nan",
                    value=avg)

In [35]:
df

      Name  Age Gender  Marks
0      Jai   17      M   90.0
1   Princi   17      F   76.0
2   Gaurav   18      M   75.2
3     Anuj   17      M   74.0
4     Ravi   18      M   65.0
5  Natasha   17      F   75.2
6     Riya   17      F   71.0

In [36]:
df['Gender'] = df['Gender'].map({'M': 0, 'F': 1,}).astype(float)

In [37]:
df

      Name  Age  Gender  Marks
0      Jai   17     0.0   90.0
1   Princi   17     1.0   76.0
2   Gaurav   18     0.0   75.2
3     Anuj   17     0.0   74.0
4     Ravi   18     0.0   65.0
5  Natasha   17     1.0   75.2
6     Riya   17     1.0   71.0

In [38]:
df = df[df['Marks'] >= 75].copy()
df.drop('Age', axis=1, inplace=True)

In [39]:
df

      Name  Gender  Marks
0      Jai     0.0   90.0
1   Princi     1.0   76.0
2   Gaurav     0.0   75.2
5  Natasha     1.0   75.2

In [1]:
import pandas as pd 
details = pd.DataFrame({
	'ID': [101, 102, 103, 104, 105, 106, 
		107, 108, 109, 110],
	'NAME': ['Jagroop', 'Praveen', 'Harjot', 
			'Pooja', 'Rahul', 'Nikita',
			'Saurabh', 'Ayush', 'Dolly', "Mohit"],
	'BRANCH': ['CSE', 'CSE', 'CSE', 'CSE', 'CSE', 
			'CSE', 'CSE', 'CSE', 'CSE', 'CSE']})
print(details)

    ID     NAME BRANCH
0  101  Jagroop    CSE
1  102  Praveen    CSE
2  103   Harjot    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
5  106   Nikita    CSE
6  107  Saurabh    CSE
7  108    Ayush    CSE
8  109    Dolly    CSE
9  110    Mohit    CSE

In [2]:
import pandas as pd
fees_status = pd.DataFrame(
	{'ID': [101, 102, 103, 104, 105, 
			106, 107, 108, 109, 110],
	'PENDING': ['5000', '250', 'NIL', 
				'9000', '15000', 'NIL',
				'4500', '1800', '250', 'NIL']})
print(fees_status)

    ID PENDING
0  101    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL

In [10]:
print(pd.merge(details, fees_status, on='ID'))

    ID     NAME BRANCH PENDING
0  101  Jagroop    CSE    5000
1  102  Praveen    CSE     250
2  103   Harjot    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Nikita    CSE     NIL
6  107  Saurabh    CSE    4500
7  108    Ayush    CSE    1800
8  109    Dolly    CSE     250
9  110    Mohit    CSE     NIL